{% load static %}
<!-- ======= Footer ======= -->
<footer id="footer" class="footer" style="background-image: linear-gradient(rgba(87, 72, 217, 0.7), rgba(87, 72, 217, 0.8)), url(https://aidefinitive.com/assets/img/services_bg.png)">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
                <a href="https://aidefinitive.com/index.html" class="logo d-flex align-items-center">
                    <span>AI Definitive</span>
                </a>
                <p>
                    "Elevate Your Business with Custom AI Solutions and Proactive
                    Cybersecurity"
                </p>
                <div class="social-links d-flex mt-4">
                    <a href="https://twitter.com/aidefinitive" class="twitter"
                    ><i class="bi bi-twitter"></i
                    ></a>

                    <a href="https://www.instagram.com/aidefinitive" class="instagram"
                    ><i class="bi bi-instagram"></i
                    ></a>
                    <a
                            href="https://www.linkedin.com/company/aidefinitive"
                            class="linkedin"
                    ><i class="bi bi-linkedin"></i
                    ></a>
                </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="https://aidefinitive.com/#intro">Home</a></li>
                    <li><a href="https://aidefinitive.com/#features">About us</a></li>
                    <li><a href="https://aidefinitive.com/#values">Services</a></li>
                    <li><a href="#">Terms of service</a></li>
                    <li><a href="#">Privacy policy</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                    <li>
                        <a href="https://aidefinitive.com/artificial-intelligence-and-machine-learning.html"
                        >AI and ML</a
                        >
                    </li>
                    <li><a href="https://aidefinitive.com/cyber-security.html">Cyber Security</a></li>
                    <li><a href="https://aidefinitive.com/data-engineering.html">Data Engineering</a></li>
                    <li><a href="https://aidefinitive.com/#services">Industries</a></li>
                </ul>
            </div>

            <div
                    class="col-lg-3 col-md-12 footer-contact text-center text-md-start"
            >
                <h4>Contact Us</h4>
                <p>
                    405 State Hwy 121,<br/>
                    Suite A250, Lewisville, TX 75067 <strong>Phone:</strong> +1 (682)
                    290-2190<br/>
                    <strong>Email:</strong> info@aidefinitive.com<br/>
                </p>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="copyright">
            &copy; Copyright <strong><span>AI Definitive</span></strong
        >. All Rights Reserved

            <!-- <p class="copyright">
              <small style="font-size: 14px"
                >Made with &hearts; by
                <a href="https://groziit.com" target="_blank"
                  ><img
                    src="https://i.imgur.com/Z8xUSe3.png"
                    alt="GROZiiT"
                    style="width: 55px; margin-bottom: 2px"
                  /> </a
              ></small>
            </p> -->
        </div>
    </div>
</footer>
<!-- End Footer -->
<!-- End Footer -->

<a
        href="#"
        class="scroll-top d-flex align-items-center justify-content-center"
><i class="bi bi-arrow-up-short"></i
></a>


<script>
    function redirect(page) {
        console.log("redirect to ->", page);
        window.location.href = page;
    }
</script>

<!-- Vendor JS Files -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
<script src="{% static 'assets/lib/mobile-nav/mobile-nav.js' %}"></script>
<script src="{% static 'assets/lib/wow/wow.min.js' %}"></script>
{#<script src="{% static 'assets/lib/waypoints/waypoints.min.js' %}"></script>#}
{#<script src="{% static 'assets/lib/counterup/counterup.min.js' %}"></script>#}
{#<script src="{% static 'assets/lib/owlcarousel/owl.carousel.min.js' %}"></script>#}
{#<script src="{% static 'assets/lib/isotope/isotope.pkgd.min.js' %}"></script>#}
{#<script src="{% static 'assets/lib/lightbox/js/lightbox.min.js' %}"></script>#}
{#<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>#}
{#<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>#}
{#<script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>#}
{#<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>#}
{#<!-- <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script> -->#}
{#<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>#}

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>