{% load static %}

<header id="header">
    <div id="topbar">
        <div class="container">
            <div class="social-links">
                <a href="https://twitter.com/aidefinitive" class="twitter"
                ><i class="fa fa-twitter"></i
                ></a>

                <a
                        href="https://www.linkedin.com/company/aidefinitive"
                        class="linkedin"
                ><i class="fa fa-linkedin"></i
                ></a>
                <a href="https://www.instagram.com/aidefinitive" class="instagram"
                ><i class="fa fa-instagram"></i
                ></a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="logo float-left">
            <a
                    href="https://aidefinitive.com/index.html"
                    class="scrollto"
                    style="margin-top: 0; padding-top: 0"
            ><img
                    id="himg"
                    src="{% static 'assets/img/AI_Definitive_transparent_logo.png'%}"
                    alt=""
                    class="img-fluid"
                    style="max-height: 55px; padding-top: 0; margin-top: 0"
            /></a>
        </div>

        <nav
                class="main-nav float-right d-none d-lg-block"
                style="padding: 0; padding-top: 7px; padding-bottom: 7px"
        >
            <ul>
                <li>
                    <a href="https://aidefinitive.com/index.html#intro" style="text-decoration: none">Home</a>
                </li>
                <li>
                    <a href="https://aidefinitive.com/index.html#features" style="text-decoration: none">About Us</a>
                </li>
                <li>
                    <a href="https://aidefinitive.com/index.html#blogs" style="text-decoration: none">Blogs</a>
                </li>
                <li>
                    <a href="https://aidefinitive.com/index.html#values" style="text-decoration: none">Services</a>
                </li>

                <li>
                    <a href="https://aidefinitive.com/findajob-searchjob.html" style="text-decoration: none"
                    >Find a Job</a
                    >
                </li>
                <li>
                    <a href="https://aidefinitive.com/index.html#contact" style="text-decoration: none">Contact Us</a>
                </li>
            </ul>
        </nav>
    </div>
</header>