{% load static %}
<title>AI Definitive</title>
<meta
        content="Harness the Power of AI to Outperform Competitors and Secure Your
            Digital Assets with AI Definitive."
        name="description"
/>
<meta
        content="AI Definitive, Cybersecurity, software, consulting"
        name="keywords"
/>

<meta property="og:url" content="https://aidefinitive.com/"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="AI Definitive"/>
<meta
        property="og:description"
        content="Empower Your Digital Journey with Next-Gen AI and Cybersecurity Solutions."
/>
<meta
        property="og:image"
        content="https://aidefinitive.com/assets/img/AI_Definitive_transparent.png"
/>

<!-- Favicons -->
<link href="{% static 'assets/img/AI_Definitive_transparent_logo.png' %}" rel="icon"/>
<link
        href="{% static 'assets/img/AI_Definitive_transparent_logo.png' %}"
        rel="apple-touch-icon"
/>

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com"/>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
<link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet"
/>

<!-- Vendor CSS Files -->
<link href="{% static 'assets/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>

<link
        href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
        rel="stylesheet"
/>
<link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet"/>
<link
        href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}"
        rel="stylesheet"
/>
<link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet"/>

<link
        href="{% static 'assets/lib/font-awesome/css/font-awesome.min.css' %}"
        rel="stylesheet"
/>
<link href="{% static 'assets/lib/animate/animate.min.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet"/>
<link
        href="{% static 'assets/lib/owlcarousel/assets/owl.carousel.min.css' %}"
        rel="stylesheet"
/>
<link href="{% static 'assets/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet"/>

<link rel="stylesheet" href="{% static 'assets/css/steps.css' %}">

<!-- Template Main CSS File -->
<link href="{% static 'assets/css/main.css' %}" rel="stylesheet"/>